/P1/nbproject/private/
/P1/build/
/P2/nbproject/private/
/P2/build/
/P3/nbproject/private/
/P3/build/
/P4/nbproject/private/
/P4/build/
/P5/nbproject/private/
/P5/build/
/P6/nbproject/private/
/P6/build/
/P7/nbproject/private/
/P7/build/
/P7/dist/
/P8/nbproject/private/
/P8/build/
/P8/dist/
/P9/nbproject/private/
/P9/build/
/P9/dist/
/P10/nbproject/private/
/P10/build/
/P10/dist/
/P11/nbproject/private/
/P11/build/
/P12/nbproject/private/
/P12/build/
/P13/nbproject/private/
/P13/build/
/P14/nbproject/private/
/P14/build/
/P15/nbproject/private/
/P15/build/
/P16/nbproject/private/
/P16/build/
/P17/nbproject/private/
/P17/build/
/P17/dist/
/P18/nbproject/private/
/P18/build/
/P19/nbproject/private/
/P20/nbproject/private/
/P20/build/
/P20/dist/
/P19/build/
/P19/dist/
/P21/nbproject/private/
/P22/nbproject/private/
/P21/build/
/P21/dist/
/P23/nbproject/private/
/P23/build/
/P24/nbproject/private/
/P24/build/
/P22/build/
